@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    width:100%!important;
    margin:0;
    padding:0;
}

header {

    background-color: lightblue;
    height:20%;
    position: static
}


header h1 {
    text-align: center;
    margin:0px;
}

header p {
    text-align: center;
    bottom: 20px;
    margin:0px;
    padding-bottom: 40px;
}

.container {
    margin:0;
    padding:0;
    width:100%;
    height: 800px;
    display: inline-block;
}


.container aside {
 
    background-color: #424250;
    width: 30%;
    height:100%;
    text-align: center;
    top:200px;
    font-size: 24px
}

.container aside h1 p {
    text-decoration: underline;
}

.container aside h1 {
    margin:0;
}

.container section {
    position: relative;
    left: 30%;
    bottom: 102.3%;
    width: 70%;
    background-color: grey;
    height:100%;
    
    text-align: center;
    color:white;
    font-size: 18px;
}


footer {

  width: 100%;
  display:inline-block;
  background:#3a3a3c;
  padding:0px;
  margin:0px;
}

footer p {
text-align:center;
color: white;
}

footer a {
color: blue;
}
